# Node Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
.*

## Do not commit generated js
gen-js
**/*.xml

## Do not commit temporary and dependency directories
tmp
typings

## Ignore any converted source files
src/**/*.js
src/**/*.js.map
spec/**/*.js
!spec/lib/**/*.js
spec/**/*.js.map
gulpfile.js
gulpfile.js.map
